.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;

    &__2{
        background-color: $color-grey-dark-3;
        padding: 5rem 0;
        font-size: 1.4rem;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
        margin-top: -13vh;
    }

    
    @include respond(tab-port){
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

        
        @include respond(tab-port){
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
        &--box{
            display: inline;
            margin-left:8rem;
            @include respond(phone){
                margin-left:8.7rem;
            }
        }
        &__cnm{
            height: 7rem;
        }
        &__unifi{
            height: 7rem;
            margin-left: 2.5rem;
        }
        &__vergata{
            height: 7rem;
            @media(max-width:1200px){
                margin-left: 9rem;
            }
        }
    }

    &__navigation {
        border-top: 1px solid $color-grey-light-2;
        padding-top: 2rem;
        display: inline-block;
        margin-top: 7.6rem;

        
        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active{
            color: $color-primary;
            // box-shadow: 0 1rem 2rem rgba($color-black, .4);
            // transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-light-2;
        padding-top: 2rem;
        width: 80%;
        // float:right;
        margin-left:8rem;
        @media(max-width:1200px){
            // width: 100%;
            float:none;
            width: 100%;
            margin-left:0;
            text-align: center;
        }
        &--noborder{
            border-top:none;
        }
    }
}