.header{
    height: 95vh; /*così gli dico che voglio il 95% dello schermo viewport height*/
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light,0.8),
        rgba($color-primary-dark, 0.8)),
        url('/images/landing.jpg'); /*così il gradiente va da sinistra a destra, inoltre con rgba ho settato l'opacità se no non si vedeva l'immagine sotto*/
    /*    
    background-size: cover; così copre la zona dove deve stare senza spanarsi
    background-position: top; così rimarrà sempre fissato al top della pagina anche se viene ridimensionata */

    //prova parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position:relative; /*se uso per i figli la position absolute a lui gli devo dare position relative*/
    -webkit-clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);

    &__text-box{
        position: absolute;
        top:40%;
        left:50%; /*questo come il top è il 50% del parent element in questo caso dell'header */
        transform: translate(-50%,-50%); /*è Y X */
        text-align: center;
    }
}