.btn{
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none; /*così mi toglie le sottolineature*/
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s; /*così prendo tutte le proprietà che ho definito per le trasformazioni*/ 
        position: relative; /*questo perché ho definito btn::after che ha absolute */
        font-size: 1.6rem;
    }
    
    &:hover{
        transform: translateY(-3px); /*per farlo muovere in alto devo dargli dei valori negativi*/
        box-shadow: 0 1rem 2rem rgba($color-black,.2); /*il primo parametro è se voglio l'ombra sulle X, il secondo sulle Y e il terzo la sfocatura, il quarto ovviamente il colore*/
        &::after{
            transform: scaleX(1.2) scaleY(1.3); /*raddioppia o diminuisce le dimensioni dell'elemento*/
            opacity: 0;
        }
    }
    
    &:active{
        transform: translateY(-1px); /*questo fa scendere di un pò il bottone quando lo clicco, gli devo dare dei valori negativi perché sono già sull'hover a -3, quindi fino a -1 perché i valori crescono dall'alto verso il basso*/
        box-shadow: 0 .5rem 1rem rgba($color-black,.2); 
    }
    
    &--white{
        background-color: $color-white;
        color:$color-grey-dark;
        &::after{
            background-color: $color-white;
        }
    }

    &--green{
        background-color: $color-primary;
        color:$color-white;
        &::after{
            background-color: $color-primary;
        }
    }
    
    &::after{ /*lavora come un child*/
        content: "";
        display: inline-block; /*perché il bottone che abbiamo è esso stesso in inline-block*/
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top:0;
        left: 0;
        z-index: -1; /*così il sudo element sta sotto il bottone!!!*/
        transition: all .4s;
    }

    &--animated{
        animation: moveInBottom 1s ease-out;
        animation-fill-mode:backwards;
    }
}


.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding:3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}