.button{
    background: $blue;
    border:none;
    color:$white;
    display: inline-block;
    font-size:$font-size-large;
    font-weight: 300m;
    line-height: 1;
    padding:$s-size;
    text-decoration: none;
}

.button__landing{
    background: $blue;
    border-radius:3px;
    color:$white;
    display: inline-block;
    font-size:$font-size-large;
    font-weight: 300m;
    line-height: 1;
    padding:$s-size;
    text-decoration: none;
}

.button__header{
    background: none;
    border-radius:3px;
    color: $dark-grey;
    display: inline-block;
    margin:0 10px 0 0;
    font-size:$font-size-large;
    line-height: 1;
    padding:0.1rem;
    text-decoration: none;
    cursor:pointer;
    &:hover{
        background: $green;
        color: $dark-grey;
    }
}

.button__header-content{
    background: none;
    border-radius:3px;
    color: $dark-grey;
    display: inline-block;
    margin:auto;
    font-size:$font-size-large;
    line-height: 1;
    padding:0.1rem;
    text-decoration: none;
    cursor:pointer;
    &:hover{
        background: $green;
        color: $dark-grey;
    }
}

.button--link{
    background: none;
}

.button--div{
    background: none;
}

.button--secondary {
    background: #888;
}