.contact {
    padding: 15rem 0;
    position: relative;
    height: 80vh;
    // margin-top: -20vh;

    @include respond(tab-port){
        padding: 10rem 0;
    }

    &__content{
        text-align: center;
        margin:0 auto;
        margin-top: 25vh;
        border-radius: 3px;
        padding-left: 9rem;
        padding: 6rem;
        font-size: $default-font-size;
        position:relative;

        @media(max-width:1350px){
            // width: 100%;
            padding: 4rem;
            padding-left: 7rem;
        }
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        // width: 100%;
    }

    &__item {
        margin: 1rem;
        display: inline-block;
        font-size: 3rem;
        font-weight: 500;
        padding: 1rem 2rem;
        color: $color-black;
        text-decoration: none;
        text-transform: uppercase;

        &__top{
            font-size: 4rem;        
            color: $color-black;
            text-decoration: none;
            text-transform: uppercase;
            padding-bottom: 2rem;

            @media(max-width:600px){
                font-size:3.5rem;
            }
        }

        @media(max-width:600px){
            font-size:2.5rem;
            padding: 1rem 0;
        }
    }
}