.content-container{
    margin:0 auto;
    padding:0 $m-size;
    max-width: 80rem;
}

.container-athelitic__training__text{
    align-items: center;
    width:100%;
    margin-top:30px;
    padding-left:350px;
}

.container-dashboard-public{
    margin-top:120px;
}