.contact {
    padding: 15rem 0;
    position: relative;

    @include respond(tab-port){
        padding: 10rem 0;
    }

    &__content{
        // background-image: radial-gradient($color-primary-light, $color-primary-dark);
        // box-shadow: 0 3rem 6rem rgba($color-black, .1);
        margin:0 auto;
        border-radius: 3px;
        // background-color: rgba($color-white, .6);
        padding-left: 9rem;
        padding: 6rem;
        font-size: $default-font-size;
        position:relative;

        @media(max-width:1350px){
            width: 100%;
            padding: 4rem;
            padding-left: 7rem;
        }
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-black;
        text-decoration: none;
        text-transform: uppercase;
    }
}