/* The navigation bar */
.header {
    // overflow: hidden;
    // background: -webkit-linear-gradient(left, rgb(147, 250, 3) 0%, rgb(6, 93, 1) 100%);
    // background: -webkit-radial-gradient(50% 80%, #31cb00, #1e441e);
    background: transparent;
    position: fixed;
    top: 0; 
    width: 100%;
    height:100px; 
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    // z-index: 2;
    a{
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &:hover{
            // background: fade-out(white, .40);
            color: #008148;
            border-radius: 3px;
            cursor: pointer;
        }
    }
    nav{
        ul{
            li{
                ul{
                    a{
                        color:white;
                        float:left;
                        &:hover{
                            background: none;
                            color: #008148;
                            cursor: pointer;                        
                        }
                    }
                }
            }
        }
    }
}

.sub-menu-parent { position: relative; border-left: none;}

.sub-menu-1 { 
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 190px;
//   background: -webkit-radial-gradient(50% 80%, #31cb00, #1e441e);
  background: fade-out(white, .90);
  border-radius:3px;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu-1,
.sub-menu-parent:focus-within .sub-menu-1,
.sub-menu-parent:hover .sub-menu-1 {
    
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0s;
}

.sub-menu-2 { 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 210px;
    // background: -webkit-radial-gradient(50% 80%, #31cb00, #1e441e);
    background: fade-out(white, .90);
    border-radius:3px;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  
  .sub-menu-parent:focus .sub-menu-2,
  .sub-menu-parent:focus-within .sub-menu-2,
  .sub-menu-parent:hover .sub-menu-2 {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0s;
  }

  .sub-menu-3 { 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    // background: -webkit-radial-gradient(50% 80%, #31cb00, #1e441e);
    background: fade-out(white, .90);
    border-radius:3px;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  
  .sub-menu-parent:focus .sub-menu-3,
  .sub-menu-parent:focus-within .sub-menu-3,
  .sub-menu-parent:hover .sub-menu-3 {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0s;
  }

  .sub-menu-4 { 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    // background: -webkit-radial-gradient(50% 80%, #31cb00, #1e441e);
    background: fade-out(white, .90);
    border-radius:3px;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  
  .sub-menu-parent:focus .sub-menu-4,
  .sub-menu-parent:focus-within .sub-menu-4,
  .sub-menu-parent:hover .sub-menu-4 {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0s;
  }

nav a { color:  rgb(35, 155, 2); display: block; padding: 0.6em 1em; text-decoration: none; }
nav a:hover { 
    cursor: pointer;     
    border-radius: 3px;
    color:black;
    display: inline-block;
    // font-size:$font-size-large;
    font-weight: 300m;
    text-decoration: none;
}
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: none; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px white; }
nav > ul > li:first-child { border-left: none; }


