.header__image{
    height: 80px;
    width: 80px;
    margin-left: 15px;
}

.header__content__top{
    align-items: center;
    display: flex;
    padding:0.2rem 0;
}

.header__content{
    align-items: center;
    display: flex;
    justify-content: center;
    padding:0.2rem 0;
}

.header__title{
    color:black;
    text-decoration: none;
    margin:0 0 0 500px;
    h1{
        margin:0;
        font-size: 5.0rem;
        background-color: -webkit-linear-gradient(left, rgb(117, 186, 20) 0%, rgb(6, 93, 1) 100%);
    }
}

.header__bottom{
    width: 100%;
    height:5px;
    background: -webkit-linear-gradient(left, rgb(147, 250, 3) 0%, rgb(6, 93, 1) 100%);
}

.sub-menu-parent { position: relative; }

.sub-menu { 
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0s;
}

body { font: 18px/1.4 sans-serif; }

nav a { color:  rgb(35, 155, 2); display: block; padding: 0.6em 1em; text-decoration: none; }
nav a:hover { 
    // color: rgb(147, 238, 0); nel caso si rimette questo per l'over
    cursor: pointer;     
    background: -webkit-gradient(linear, center bottom, center top, color-stop(0%,rgba(35,155,2,1)), color-stop(1%, rgba(35,155,2,0.99)), color-stop(45%,rgba(35,155,2,0.5)), color-stop(100%,rgba(35,155,2,1)));
    border-color: rgba(29,81,140,1);
    border-radius: 3px;
    color:$white;
    display: inline-block;
    font-size:$font-size-large;
    font-weight: 300m;
    line-height: 1;
    text-decoration: none;}
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: white; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px white; }
nav > ul > li:first-child { border-left: none; }


.sub-menu {
  background: white;
  border:1px solid;
  border-radius:3px;
} 