.container-home__fitness{
    align-items: center;
    width:100%;
    margin-top:30px;
    text-align: center;
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.4s, z-index 0s linear 0.01s;
}

.container-home__fitness__text{
    width: 60%;
    margin: 20px 0 0 300px;
}