*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    /* font-size: 10px; invece di scrivere 10px facciamo 10/16 che il font default del browser e troviamo la percentuale per calcolare tutti i rem dopo*/
    font-size: 62.5%;
}

