.u-center-text { text-align: center !important; }

.u-margin-bottom-big{ 
    margin-bottom: 8rem !important; 
    @include respond(tab-port){
        margin-bottom: 5rem;    
    }
}
.u-margin-bottom-medium{ 
    margin-bottom: 4rem !important; 
    @include respond(tab-port){
        margin-bottom: 3rem;    
    }
}

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }

.u-margin-top-big {margin-top: 8rem !important;}

.u-margin-top-huge {margin-top: 10rem !important;}

.video{
    width: 100rem;
    box-shadow:0 1.5rem 3rem rgba($color-black, .2);
    @media(width:768px){
        width: 43rem;
    }
    @media(width:1024px){
        width: 43rem;
    }
    @media (max-width:420px){
        width: 38rem;
    }
}

.icon{
    font-size:7rem;
    color: #eee;
    margin-bottom: .7rem;
    margin-right: 2rem;
}

.buttonPopup{
        margin-left: 29rem
}